name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.10"
          environment-file: pls_env.yml
          activate-environment: pls_env
          auto-activate-base: false

      - name: Lint with ruff
        run: ruff check . || true

      - name: Test with pytest
        run: pytest
